[Unit]
Description=webApp
After=cloud-final.service

[Service]
WorkingDirectory=/home/ec2-user/webApp/
ExecStart=/usr/bin/node /home/ec2-user/webApp/app.js
Restart=on-failure

[Install]
WantedBy=cloud-init.target